<?xml version="1.0"?>
<config>
    <modules>
        <S2_Customer>
            <version>0.1.0</version>
        </S2_Customer>
    </modules>
    
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>S2_Customer_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
    </global>
</config>