<?xml version="1.0"?>
<config>
    <modules>
        <Nextone_Page>
            <version>0.1.0</version>
        </Nextone_Page>
    </modules>
    <!--frontend>
        <secure_url>
          <onestepcheckout>/onestepcheckout</onestepcheckout>
        </secure_url>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <onestepcheckout_save_customercomment>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Helper_Data</class>
                        <method>setCustomerComment</method>
                    </onestepcheckout_save_customercomment>
                </observers>
              </checkout_type_onepage_save_order>
              <sales_quote_collect_totals_before>
                <observers>
                    <onestepcheckout_set_address_defaults>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PresetDefaults</class>
                        <method>setDefaults</method>
                    </onestepcheckout_set_address_defaults>
                </observers>
              </sales_quote_collect_totals_before>
              <sales_quote_collect_totals_after>
                <observers>
                    <onestepcheckout_set_shipping_defaults>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PresetDefaults</class>
                        <method>setShippingIfDifferent</method>
                    </onestepcheckout_set_shipping_defaults>
                </observers>
              </sales_quote_collect_totals_after>
              <controller_action_layout_render_before_onestepcheckout_index_index>
                <observers>
                    <onestepcheckout_check_valid>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Helper_Data</class>
                        <method>checkValid</method>
                    </onestepcheckout_check_valid>
                </observers>
              </controller_action_layout_render_before_onestepcheckout_index_index>
        </events>
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>Idev_OneStepCheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
        <layout>
            <updates>
                <OneStepCheckout module="Idev_OneStepCheckout">
                    <file>onestepcheckout.xml</file>
                </OneStepCheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Idev_OneStepCheckout>
                    <files>
                        <default>Idev_OneStepCheckout.csv</default>
                    </files>
                </Idev_OneStepCheckout>
            </modules>
        </translate>
    </frontend-->
    <global>
        <models>
            <nextone_page>
                <class>Nextone_Page_Model</class>
            </nextone_page>
        </models>
        <!--resources>
            <onestepcheckout_setup>
                <setup>
                    <module>Idev_OneStepCheckout</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onestepcheckout_setup>
        </resources-->
        <blocks>
            <nextone_page>
                 <class>Nextone_Page_Block</class>
            </nextone_page>
        </blocks>
        <helpers>
            <nextone_page>
                <class>Nextone_Page_Helper</class>
            </nextone_page>
        </helpers>
    </global>
    <!---default>
        <nextone_loc>
            <general>
                <category_inc>50</category_inc>
            </general>
        </nextone_loc>
    </default-->
    <!--
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>YOUR_THEME</default>
                </theme>
            </design>
        </admin>
    </stores>
    -->
</config>
