.b-topcart{
    float:                  right;
    clear:                  right;
    position:               relative;
    text-align:             left;
    margin:                 0 10px;
    min-width:              200px;
    background:             #fff;
    border:                 1px solid #000;
    padding:                7px 10px 10px 10px;
}
.b-topcart .b-topcart-popup{
    border-color:           #000;
    border-style:           solid;
    border-width:           0 1px 1px 1px;
    overflow:               hidden;
    padding:                3px 10px 10px 10px;
    display:                none;
    background:             #fff;
    position:               absolute;
    top:                    100%;
    right:                  -1px;
    left:                   -1px;
    z-index:                4;
}
.b-topcart-item{
    width:                  100%;
    margin:                 10px 0;
}
.b-topcart-item + .b-topcart-item{
    margin-top:             11px;
}
.b-topcart-item .b-topcart-title{
    padding:                0 5px;
}
.b-topcart-info{
    margin-left:            80px;
}
.b-topcart-image{
    width:                  67px;
    border:                 none;
    padding-top:            4px;
    float:                  left;
}

.b-topcart-title{
    margin:                 1px 0 0 0;
    line-height:            18px;
    font-weight:            700;
}
.b-topcart-empty{
    margin-bottom:          0;
    text-align:             center;
}
.b-topcart-list,
.b-topcart-bottom{
    border-top:             1px dashed #000;
}
.b-topcart-bottom{
    padding:                10px 0 0;
}
.b-topcart-link-product{
    text-decoration:        none;
}
a.b-topcart-link-product:hover{
    text-decoration:        underline;
}
.b-topcart-bottom-total{
    margin-bottom:          10px;
}
