<?xml version="1.0"?>
<config>
    <modules>
        <S2_TopCart>
            <version>0.1.0</version>
        </S2_TopCart>
    </modules>
    <frontend>
        <layout> 
            <updates>
                <s2_topcart>
                    <file>s2/topcart.xml</file>
                </s2_topcart>
            </updates>
        </layout>  
    </frontend>
</config>