<?xml version="1.0"?>
<config>
    <modules>
        <ISM_Slider>
            <version>0.1.4</version>
        </ISM_Slider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <slider>
                    <file>ism/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ISM_Slider before="Mage_Adminhtml">ISM_Slider</ISM_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <slider>
                    <file>ism/slider.xml</file>
                </slider>
            </updates>
        </layout>
        <menu>
            <cms>
                <children>
                    <slider module="slider">
                        <title>Slider</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/slider/</action>
                    </slider>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <slider>
                                    <title>Slider</title>
                                </slider>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <slider>
                <class>ISM_Slider_Model</class>
                <resourceModel>slider_resource</resourceModel>
            </slider>
            <slider_resource>
                <class>ISM_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>ism_slider</table>
                    </slider>
                    <slider_slides>
                        <table>ism_slider_slides</table>
                    </slider_slides>
                    <slider_store>
                        <table>ism_slider_stores</table>
                    </slider_store>
                </entities>
            </slider_resource>
        </models>

        <resources>
            <ism_slider_setup>
                <setup>
                    <module>ISM_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ism_slider_setup>
            <ism_slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ism_slider_write>
            <ism_slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ism_slider_read>
        </resources>

        <blocks>
            <slider>
                <class>ISM_Slider_Block</class>
            </slider>
        </blocks>

        <helpers>
            <slider>
                <class>ISM_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
</config>        