<?xml version="1.0"?>
<config>
    <modules>
        <Temashop_Imageupdater>
            <version>0.0.0.1</version>
        </Temashop_Imageupdater>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Temashop_Imageupdater>
                    <files>
                        <default>Temashop_Imageupdater.csv</default>
                    </files>
                </Temashop_Imageupdater>
            </modules>
        </translate>
        <!--events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <temashop_imageupdater_core_block_abstract_prepare_layout_before>
                        <class>temashop_imageupdater/adminhtml_observer</class>
                        <method>onPrepareMassaction</method>
                    </temashop_imageupdater_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events-->
    </adminhtml>
    <!--admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <temashop_imageupdater before="Mage_Adminhtml">Temashop_Imageupdater_Adminhtml</temashop_imageupdater>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin-->
    <global>
        <models>
            <temashop_imageupdater>
                <class>Temashop_Imageupdater_Model</class>
                <resourceModel>temashop_imageupdater_resource</resourceModel>
            </temashop_imageupdater>
            <temashop_imageupdater_resource>
                <class>Temashop_Imageupdater_Model_Resource</class>
            </temashop_imageupdater_resource>
        </models>
        <helpers>
            <temashop_imageupdater>
                <class>Temashop_Imageupdater_Helper</class>
            </temashop_imageupdater>
        </helpers>
    </global>
</config>
