<?xml version="1.0"?>
<config>
    <modules>
        <S2_Nextone>
            <version>0.1.2</version>
        </S2_Nextone>
    </modules>

    <global>
        <helpers>
            <s2_nextone>
                <class>S2_Nextone</class>
            </s2_nextone>
        </helpers>
        <resources>
            <s2_nextone_setup>
                <setup>
                    <module>S2_Nextone</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </s2_nextone_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <magentoce module="S2_Nextone">
                    <file>magentoce.xml</file>
                </magentoce>
            </updates>
        </layout>
    </frontend>
</config>
